<div class='container'>
  <h1>GHIPY PICTURE</h1>
  <h2>Things to do when you are happy!!!!</h2>
</div>
<div class='main'>
  <div class='main-flex'>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis ducimus aspernatur aut quae nulla sunt.
      Rerum, at illo repudiandae, accusamus expedita perspiciatis minima harum esse tempore totam ullam veritatis
      deserunt?</p>
  </div>
  <div class='main-flex'>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat quam rem unde qui reprehenderit reiciendis
      architecto dolorum, laudantium laboriosam voluptas aut dicta. Quia ullam quis porro nemo officiis? Nostrum, unde?
    </p>
  </div>
</div>