@import url('https://fonts.googleapis.com/css?family=Righteous');
.container {
    font-family: 'Righteous', cursive;
    padding: 50px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.main {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Righteous', cursive;
    padding: 50px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.flexBox {
    width: 100px;
    height: 150px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    padding: 20px;
    /* background-color: rgb(64, 104, 216); */
    margin: 10px;
}

.center {
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.juston {
    width: 90px;
    height: 90px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 33px;
}

.justonbox {
    /* border: 1px solid red; */
    margin: 0;
}

.brian {
    width: 90px;
    height: 90px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 33px;
}

.praneet {
    width: 90px;
    height: 90px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 22px;
}

.prakash {
    width: 90px;
    height: 90px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 33px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100pc;
    background-color:blue;
    color: white;
    text-align: center;
 }