<br><br>
<div>
  <img src="./assets/ksu.png" alt="Italian Trulli" class="center">
</div>

<div class='container'>
  <h1>IT6203 Design Studio - Group #7 Project</h1>
  <div class='main'>

    <div class='flexBox'>
      <div class='justonbox'>
        <img src="./assets/juston.png" alt="Italian Trulli" class="juston">
      </div>
      <div>
        Juston Bryant
      </div>
    </div>
    <div class='flexBox'><img src="./assets/Brian.png" alt="Italian Trulli" class="brian">Brian Shieh</div>
    <div class='flexBox'><img src="./assets/praneet.png" alt="Italian Trulli" class="praneet">Praneet Ahuja</div>
    <div class='flexBox'><img src="./assets/Prakash.png" alt="Italian Trulli" class="prakash">Prakash Rai</div>
  </div>
</div>

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
</style>
</head>
<body>
<div class="footer">
  <p>MoodApp</p>
</div>

</body>
</html> 



