<div>
  <img src="./images/ksu.png" alt="Italian Trulli">
</div>

<div class='container'>
  <h1>IT Studio Design - Group Project</h1>
  <div class='main'>
    <div class='flexBox'>Juston Bryant</div>
    <div class='flexBox'>Brian</div>
    <div class='flexBox'> Praneet</div>
    <div class='flexBox'>Prakash Rai</div>
  </div>
</div>

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: blue;
   color: white;
   text-align: center;
}
</style>
</head>
<body>
<div class="footer">
  <p>Mood</p>
</div>

</body>
</html> 



