@import url('https://fonts.googleapis.com/css?family=Righteous');
.container {
    font-family: 'Righteous', cursive;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
    top: -50px;
}

.logo {
    position: relative;
    top: -50px;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: 'Righteous', cursive;
}

.flexBox {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    background-color: #dfe6e9;
    width: 150px;
    height: 174px;
    border: 2px solid rgb(112, 110, 110);
}

.flexBox div {
    background-color: #74b9ff;
    height: 33px;
    position: relative;
    bottom: 33px;
}

.center {
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.juston, .brian, .prakash, .praneet {
    width: 150px;
    height: 140px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 33px;
}

.justonbox {
    /* border: 1px solid red; */
    margin: 0;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100pc;
    background-color: #ccc;
    color: white;
    text-align: center;
}