<br><br>
<div>
  <img src="./assets/ksu.png" alt="Italian Trulli" class="center">
</div>

<div class='container'>
  <h1>IT Studio Design - Group #7 Project</h1>
  <div class='main'>

    <div class='flexBox'><img src="./assets/juston.png" alt="Italian Trulli" class="juston">Juston Bryant</div>

    <div class='flexBox'><img src="./assets/Brian.png" alt="Italian Trulli" class="brian">Brian Shieh</div>

    <div class='flexBox'><img src="./assets/praneet.png" alt="Italian Trulli" class="praneet">Praneet Ahuja</div>

    <div class='flexBox'><img src="./assets/Prakash.png" alt="Italian Trulli" class="prakash">Prakash Rai</div>


  </div>
</div>