<div class='container'>
  <h3>USER INFORMATION</h3>
  <form (ngSubmit)="onSubmit()" #myForm="ngForm">
    <mat-form-field>
      <input matInput placeholder="First Name" id="firstname" [(ngModel)]=" firstName" name="firstname">
    </mat-form-field><br>

    <mat-form-field>
      <input matInput placeholder="Last Name" id="lastname" [(ngModel)]=" lastName" name="lastname">
    </mat-form-field><br>
    
    <mat-form-field>
      <input matInput placeholder="Mood" id="mood" [(ngModel)]=" mood" name="mood">
    </mat-form-field><br>
    
    <p>
      <button class="btn" type="submit" mat-raised-button color="primary">Register</button>
    </p>
  </form>
</div>