<!--The content below is only a placeholder and can be replaced.-->
<div class="container" style="text-align:center">
  <div class='nav-bar'>
    <app-navigation-menu></app-navigation-menu>
  </div>
</div>
<h1>
  Welcome to {{ title }}!
</h1>
<div class="content">
  <router-outlet></router-outlet>
</div>





<!-- <div style="text-align:center">
  <h1>Welcome to {{ title }}!</h1>
  <h2>{{ class }}</h2>
  <h3>{{member}}</h3>
</div> -->


<!-- <div class="container">
  <div>
    <h2>Mood App</h2>
  </div>
  <div>
    <ul *ngFor="let student of students let i = index">
      <li> {{student._id}}: {{student.firstName}} {{student.lastName}} (index {{i}})</li>
      <button mat-button color="warn" (click)="onDelete(student._id)">DELETE</button>
    </ul>
  </div> -->
<!-- <app-new-app-form></app-new-app-form> -->