<div>

  <button mat-icon-button [matMenuTriggerFor]="menu">
    <div class='navbarbtn'>
      <div>
        <!-- <img src="../assets/ksu.png" alt="Italian Trulli" class="center"> -->
      </div>
      <div>
        <span class='menu'>Menu</span>
        <mat-icon>menu</mat-icon>
      </div>
    </div>



  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/">
      <span>Home</span>
    </button>
    <button mat-menu-item routerLink="/addUser">
      <span>Create Account</span>
    </button>
    <button mat-menu-item routerLink="/listUsers">
      <span>User List</span>
    </button>
  </mat-menu>
</div>