<div class="container">
  <div class='main'>
    <ul *ngFor="let student of students let i = index">
      <li class="userList">
        <ul>
          <!-- <li>
            <span>(index {{i}})</span>
          </li> -->
          <li>ID: <span>{{student._id}}</span></li>
          <li>
            First Name: <span>{{student.firstName}}</span>
          </li>

          <li>
            Last Name: <span>{{student.lastName}}</span>
          </li>
          <li>
            Mood: <span>{{student.mood}}</span>
          </li>

        </ul>
        <button class='delete' mat-button color="warn" (click)="onDelete(student._id)">Delete</button>
        <button class='update' mat-button color="accent" [routerLink]="['/editUser', student._id]">Update</button>
        <button class='update' mat-button color="accent" [routerLink]="['/activities']">Things to
          do..</button>
        <hr>
        <div class='giphy-space'>Giphy</div>
      </li>

    </ul>

  </div>


</div>